h1,
h3 {
    color: green;
    text-align: center;
}

a {
    color: tomato;
}

p {
    color: yellowgreen;
    text-align: center;
}

div {
  font-size-adjust: 0.58;
}

img {
    border-radius: 50%;
  }

  .video {
    width: 50%;
    height: 200px;
    border: 1px solid red;
    overflow: hidden;
    position: relative;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
  }