h1 {
    color: green;
    text-align: center;
}

h2 {
  text-align: center;
}

a {
    color: tomato;
    text-align: center;
}

p {
    color: yellowgreen;
    text-align: center;
}

div {
  font-size-adjust: 1.5rem;
}

div h2:hover {
  font-size: 2rem;
}

#links:hover {
  color: black;
}

img {
    border-radius: 50%;
  }

  .video {
    width: 50%;
    height: 200px;
    border: 1px solid red;
    overflow: hidden;
    position: relative;
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
  }